* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0e5e0;
    color: rgb(108, 56, 56);
    text-align: justify;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #eb5b74;
    color: #ffffff;
    padding: 1%;
    width: 100%;
}

/* Definir as margens do menu mantendo o background do header ocupando 100% da largura da página */
.menu {
    margin-left: 22%;
    margin-right: 23%;
}

h1 {
    font-family: cursive;
    color: #ffffff;
    font-weight: bold;
    margin-left: 22%;
}
/* Remover o aspecto de link das âncoras */
a {
    text-decoration: none;
    color: #ffffff;
    padding-top: 1%;
    padding-right: 1%;
}

.site-externo {
    color: blue;
}

main {
    padding: 1%;
    margin-left: 22%;
    margin-right: 23%;
}

h3 {
    font-family: cursive;
    font-weight: bold;
    color: #eb5b74;
}
